@{
    ViewData["Title"] = "Home Page";
}

<br/>


<div class="services_section layout_padding">
    <div class="container">
        <br />
        <div class="row">
            <div class="col-sm-12">
                <h1 class="services_taital"> My <span class="portfolio_taital_1">Portfolio</span></h1>

            
                <p style="text-align:justify">
                    Welcome! I'm Nishu Chowdhury, a passionate educator , researcher, and software developer with a deep interest in Artificial Intelligence, Mobile App Development, and cutting-edge technologies.

                    I hold a Bachelor's and Master's degree in Computer Science and Engineering from the University of Science and Technology Chittagong (USTC) and Chittagong University of Engineering Technology (CUET). Currently, I am a Lecturer in the CSE Department, where I teach programming and AI courses, guiding students to excel in technology and research.

                    My professional journey spans almost six years in software development, where I have designed and implemented diverse solutions, including ERP systems, E-commerce platforms, CRM tools, HR management systems, and inventory management systems. I am also actively involved in research, with notable contributions in areas like Skyline Path Query, Potato Leaf Disease Detection using Deep Learning, and Pneumonia Stage Analysis through Image Processing, culminating in publications in Scopus-indexed journals.

                    Beyond academia and research, I am deeply invested in Mobile App Development and am exploring new horizons to blend innovation with usability in my projects.

                    Feel free to explore my portfolio to see the projects I've worked on, my teaching endeavors, and my research achievements. Let's connect and create something extraordinary together!.
                </p>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-4">
                <h2 class="services_taital"> Ex <span class="portfolio_taital_1">perience</span></h2>

                <ul>

                    <li>
                        <h5><b>Lecturer</b></h5>
                        <h6 >2023 - Present</h6>
                        <h6>Southern University Bangladesh</h6>
                       

                    </li>
                    <li>
                        <h5><b>Lecturer</b></h5>
                        <h6>2020 - 2022</h6>
                        <h6>University of Creative Technology Chittagong</h6>


                    </li>
                                        <li>
                        <h5><b>Software Engineer</b></h5>
                        <h6>2015 - 2020</h6>
                        <h6>Ultimate IT Solution</h6>


                    </li>
                    <li>
                        <h5><b>Software Developer</b></h5>
                        <h6>2014 - 2015</h6>
                        <h6>Royex Technology</h6>


                    </li>

                </ul>

                </div>
            <div class="col-sm-4">
                <h2 class="services_taital"> Ed <span class="portfolio_taital_1">ucation</span></h2>

                <ul>

                <li>
                    <h5><b>Masters in Engineering(CSE)</b></h5>
                    <h6>Chittagong University of Engineering & Technology</h6>


                </li>

                    <li>
                        <h5><b>B.Sc Engineering in CSE</b></h5>
                        <h6>University of Science & Technology Chittagong</h6>


                    </li>
                    <li>
                        <h5><b>Higher Secondary School Certificate</b></h5>
                        <h6>Chittagong Cantonment School & College</h6>


                    </li>
                    <li>
                        <h5><b> Secondary School Certificate</b></h5>
                        <h6>Chittagong Cantonment School & College</h6>


                    </li>


                </ul>
            </div>

            <div class="col-sm-4">
                <h2 class="services_taital"> Sk <span class="portfolio_taital_1">ills</span></h2>

                <ul>

                    <li>
                        <h5> .net Core MVC</h5>
       


                    </li>

                    <li>
                        <h5> python machine learning</h5>


                    </li>
                    <li>
                        <h5> python deep learning</h5>


                    </li>
                    <li>
                        <h5> react-native</h5>


                    </li>
                    <li>
                        <h5> Image Processing</h5>


                    </li>


                </ul>
            </div>
        </div>
        <br />
        <div class="row" style="margin-bottom:10px;">
            <div class="col-sm-12">
                <h1 class="services_taital"> Research <span class="portfolio_taital_1">Experience</span></h1>
                <ul>
                    <li>
                        1.	Chowdhury, Nishu, Jeenat Sultana, Tanim Rahman, Tanjia Chowdhury, Fariba Tasnia Khan, and Arpita Chakraborty. "Potato leaf disease detection through ensemble average deep learning model and classifying the disease severity." Indonesian Journal of Electrical Engineering and Computer Science 35, no. 1 (2024): 494-502.(Q2 Scopus)  DOI: http://doi.org/10.11591/ijeecs.v35.i1.pp494-502
                    </li>
                    <li>
                        2.	Nishu Chowdhury, Mohammad Shamsul Arefin. Skyline Path Queries for  Location-based    Services. JASCA, Vol. 10, No. 5, 2019.(Q3 Scopus)    DOI: 10.14569/IJACSA.2019.0100555
                    </li>

                    <li>

                        3.	Chowdhury, Nishu, Pranto Protim Choudhury, and Shatabdi Roy Moon. "Pneumonia stage analyzes through image processing." Indonesian Journal of Electrical Engineering and Computer Science 36, no. 3 (2024): 1778-1786. DOI:
                        10.11591/ijeecs.v36.i3.pp1778-1786

                    </li>
                </ul>
                <div class="readmore_bt_1"><a href="#">Read More</a></div>
            </div>
            </div>
        <div class="row" style="margin-bottom:10px;">
       
             <div class="col-sm-8">

                <h1 class="services_taital"> Training   <span class="portfolio_taital_1">and Certification</span></h1>

                <ul><li>
                       1.	Data Science in Stratified Healthcare and Precision Medicine, Courseera, June,2024
                    </li>

                    <li>
                        2.	AI & ML with Python Course, IT Business Incubator (ITBI)
                        Chittagong University of Engineering and Technology (CUET) November, 2024

                    </li>
                    </ul>

            </div>

            <div class="col-sm-4">
                <h1 class="services_taital"> Important <span class="portfolio_taital_1">Links</span></h1>
                <ul>
                    <li>
                        <a href=" https://github.com/nishuchy/Algorithm" target="_blank"><u>gitHub</u></a>
                    </li>
                    <li>
                        <a href=" https://scholar.google.com/citations?user=yH3UvJIAAAAJ&hl=en" target="_blank"><u>Google Scholar</u></a>
                    </li>
                </ul>
            </div>
             </div>
    </div>

</div>
<br />
