
@{
    ViewData["Title"] = "ProjectDetails";
}

<div class="services_section layout_padding">
    <div class="container">


        <div class="row" style="margin-bottom:10px;">
            <div class="col-sm-12">
                <h1 class="services_taital" style="color:#ffc107 !important; ">  Web Based Projects</h1>
               
                        <h4><b>Stock Inventory and Accounting System</b></h4>

                <h6> <b>key Features : </b></h6>
                        <h6>
                            Tree based Products Database
                        </h6>
                        <h6>
                        Various Inventory Module
                        </h6>
                        <h6>
                        Barcode Generation Facilities
                        </h6>
                        <h6>
                        Multiple Billing System
                        </h6>
                        <h6>
                        Product Image Attach Facility
                        </h6>
                        <h6>
                        Any Printer Integration
                        </h6>
                        <h6>
                        Customer Database
                        </h6>
                        <h6>
                        Product Promotion Integration
                        </h6>
                        <h6>
                        Integrated Accounts
                        </h6>
                        <h6>
                        Multi Branch Management
                        </h6>
                        <h6>
                        Various types of 50+ Reports
                        </h6>
             

            </div>
        </div>

    </div>

</div>

