
@{
    ViewData["Title"] = "Projects";
}

<!-- blog section start -->
<div class="blog_section layout_padding ">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="blog_taital">My <span class="blog_taital_1">Projects</span></h1>
                <p class="blog_text">I have successfully developed and contributed to diverse projects, including ERP systems, e-commerce platforms, and AI-driven applications. Notable works include a React Native ToDo app with real-time Firebase integration and research-driven solutions like AI-based disease detection and federated learning for breast cancer classification. My projects blend innovation and practicality, tailored to solve real-world problems effectively.</p>
            </div>
        </div>
    </div>
    <div class="blog_section_2">
        <div class="container">
            <div class="row">
                <div class="col-md-3" style="min-height:500px;">
                    <div class="blog_box">
                        <div class="blog_img">
                            <h3 class="date_text" style="font-weight:bold; text-align:center;">Web Based Works</h3>
                            <h3 style="font-weight:bold; text-align:center; padding:41px;">Web Based Projects</h3>
                        </div>
                         <p style="min-height:100px;">HTML, CSS, Javascript, JQuery, Ajax, .net</p>
                        <div class="readmore_bt_1" style="background-color:#f5c729 !important"><a asp-controller="Home"  asp-action="ProjectDetails" asp-route-sid="1">Projects</a></div>
                    </div>
                </div>
                <div class="col-md-3" style="min-height:500px;">
                    <div class="blog_box">
                        <div class="blog_img">
                            <h3 class="date_text" style="font-weight:bold; text-align:center;">Datascience Works </h3>
                            <h3 style="font-weight:bold; text-align:center;padding:41px;">Deep Learning and Machine Learning </h3>
                        </div>
                         <p style="min-height:100px;">python, sckitlearn, matplotlib, tensorflow, cnn, machine learning models</p>
                        <div class="readmore_bt_1" style="background-color:#f5c729 !important"><a href="#">Projects</a></div>
                    </div>
                </div>
                <div class="col-md-3" style="min-height:500px;">
                    <div class="blog_box">
                        <div class="blog_box_3">
                            <div class="blog_img">
                                <h3 class="date_text" style="font-weight:bold; text-align:center;">Image Processing Works </h3>
                                <h3 style="font-weight:bold; text-align:center;padding:41px;"> Computer Vision  </h3>
                            </div>
                             <p style="min-height:100px;"> Computer Vision Library</p>
                            <div class="readmore_bt_1" style="background-color:#f5c729 !important"><a href="#">Projects</a></div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3" style="min-height:500px;">
                    <div class="blog_box">
                        <div class="blog_box_3">
                            <div class="blog_img">
                                <h3 class="date_text" style="font-weight:bold; text-align:center;">Mobile App </h3>
                                <h3 style="font-weight:bold; text-align:center;padding:41px;"> Android App </h3>
                            </div>
                             <p style="min-height:100px;"> react-native, firebase, local storage</p>
                            <div class="readmore_bt_1" style="background-color:#f5c729 !important"><a href="#">Projects</a></div>
                        </div>
                    </div>
                </div>
            </div>
    
        </div>
    </div>
</div>
<!-- blog section end -->
