
@{
    ViewData["Title"] = "Research";
}

<div class="services_section layout_padding">
    <div class="container">
  
   
        <div class="row" style="margin-bottom:10px;">
            <div class="col-sm-12">
                <h1 class="services_taital"> Research <span class="portfolio_taital_1">Experience</span></h1>
                <ul style="padding:5px; text-align:justify;">
                    <li>
                        1.	Chowdhury, Nishu, Jeenat Sultana, Tanim Rahman, Tanjia Chowdhury, Fariba Tasnia Khan, and Arpita Chakraborty. "Potato leaf disease detection through ensemble average deep learning model and classifying the disease severity." Indonesian Journal of Electrical Engineering and Computer Science 35, no. 1 (2024): 494-502.(Q2 Scopus)  DOI: http://doi.org/10.11591/ijeecs.v35.i1.pp494-502
                    </li>
                    <li>
                        2.	Nishu Chowdhury, Mohammad Shamsul Arefin. Skyline Path Queries for  Location-based    Services. JASCA, Vol. 10, No. 5, 2019.(Q3 Scopus)    DOI: 10.14569/IJACSA.2019.0100555
                    </li>

                    <li>

                        3.	Chowdhury, Nishu, Pranto Protim Choudhury, and Shatabdi Roy Moon. "Pneumonia stage analyzes through image processing." Indonesian Journal of Electrical Engineering and Computer Science 36, no. 3 (2024): 1778-1786. DOI:
                        10.11591/ijeecs.v36.i3.pp1778-1786

                    </li>
                </ul>
               
            </div>
        </div>
  
    </div>

</div>
<br />